#root {
  margin: auto;
  text-align: center;
}

#sec_1 {
  margin: auto;
}

.home {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.left_div,
.right_div {
  flex: 0 0 20%;
}

.mid_div {
  flex: 1;
}

.hdiv {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}