#sec_1 {
  margin: auto;
}

.home {
  border: 1px solid black;
  padding: 0 15% 0 15%;
}

@media (max-width: 1150px) {
  .home {
    padding: 0;
  }
}


/* Background Style */

.bgdiv {
  border: 1px solid black;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;  
  overflow: hidden;
  flex: 1;
  border-radius: 10px;
}

.bg_home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile Style */

.profdiv {
  /* border: 1px solid black; */
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 9px;
}

.profdiv_ {
  border: 1px solid black;
}

.div_img {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.div_info {
  flex: 1;
}

.profImg {
  width: 10rem;
  height: auto;
  border-radius: 50%;
}

.info_hldr {
  border: 1px solid rgb(161, 149, 149);
}

.name_{
  font-size: 50px;
  font-weight: bold;
}

.cap, .odr_dt {
  font-size: 15px;
}

.odr_dt {
  display: flex;
  align-items: center;
  gap: 9px;
}

.odr_dt_con {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 700px) {
  .cap, .odr_dt {
    font-size: 12px;
    font-weight: 500;
  }
} 

@media (max-width: 650px) {
  .cap, .odr_dt {
    font-size: 12px;
    font-weight: 500;
  }

  .odr_dt {
    display: block;
    margin-top: 5px;
  }

  .name_ {
    font-size: 30px;
  }

  .profImg {
    width: 7rem;
  }
}

@media (max-width: 450px) {
  .cap, .odr_dt {
    font-size: 10px;
    font-weight: 500;
  }

  .odr_dt {
    display: block;
    margin-top: 5px;
  }

  .name_ {
    font-size: 20px;
  }

  .profImg {
    width: 7rem;
  }
}